$background-color: #e9ecef;
$background-color-night: #212529;

$card-background-color: #dee2e6;
$card-background-color-night: #343a40;

$primary-text: #2d3748;
$primary-text-night: #adb5bd;

$secondary-text: #4a5568;
$secondary-text-night: #98a2b3;

$button-background-color: #dee2e6;
$button-background-color-night: #343a40;
$button-background-color-active: #ced4da;
$button-background-color-night-active: #495057;
$button-color: #5e6b7f;
$button-color-night: #6c757d;
$button-color-active: #4a5568;
$button-color-night-active: #ced4da;

$third-text: #a0aec0;
$third-text-night: #495057;

.container {
  width: 412px;
}

.main {
  background-color: $background-color;

  p {
    margin: 0;
    font-family: Inter, serif;
  }

  .inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 24px;
    max-width: 412px;
    margin: 0 auto;
    padding: 20px;

    .recite {
      align-self: stretch;
      padding-left: 18px;
      .word {
        font-size: 36px;
        font-weight: bold;
        line-height: 44px;
        color: $primary-text;
      }

      .phonetic {
        padding: 12px 0;
        line-height: 17px;
        font-size: 16px;
        color: #4a5568;
      }

      .paraphrase {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        row-gap: 4px;
        span {
          display: inline-block;
          height: 18px;
          border-radius: 7px;
          background-color: $card-background-color;
          &:nth-child(1) {
            width: 164px;
          }
          &:nth-child(2) {
            width: 106px;
          }
        }
        p {
          display: none;
        }
      }
    }

    .cards {
      align-self: stretch;
      .example,
      .tabs {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        row-gap: 16px;
        padding: 20px 18px;
        border-radius: 12px;
        background-color: $card-background-color;
        p {
          font-size: 18px;
          line-height: 24px;
          color: $primary-text;
        }
        p.zh {
          display: none;
        }
      }
      .tabs {
        display: none;
        padding: 20px 13px 8px;
        .content {
          padding: 0 5px;
          width: 100%;
          height: 250px;
          overflow: auto;
          > div {
            display: none;
            &.active {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              row-gap: 4px;
            }
            > p {
              align-self: stretch;
              font-size: 16px;
            }
          }
        }
        .buttons {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          column-gap: 4px;
          button {
            height: 24px;
            line-height: 20px;
            display: flex;
            justify-content: center;
            border-radius: 4px;
            border: none;
            font-size: 12px;
            font-weight: normal;
          }
        }
      }
    }

    .tags {
      align-self: stretch;
      text-align: right;
      padding-right: 18px;
      line-height: 17px;
      font-size: 15px;
      color: $third-text;
    }
  }
}

.back .main {
  .inner {
    .recite {
      .paraphrase {
        span {
          display: none;
        }
        p {
          display: block;
          font-size: 18px;
          line-height: 24px;
          color: #2d3748;
        }
      }
    }

    .cards {
      .example,
      .tabs {
        background-color: $card-background-color;
        p {
          color: $primary-text;
        }
        .zh {
          display: block;
        }
      }
      .tabs {
        display: flex;
        .content {
          color: $primary-text;
        }
        .buttons {
          button {
            background-color: $button-background-color;
            color: $button-color;
            &.active {
              background-color: $button-background-color-active;
              color: $button-color-active;
            }
          }
        }
      }
    }
  }
}

.night_mode .main {
  background-color: $background-color-night;
  .inner {
    .recite {
      .paraphrase {
        span {
          background-color: $card-background-color-night;
        }
        p {
          color: $primary-text-night;
        }
      }

      .word {
        color: $primary-text-night;
        .phonetic {
          color: $secondary-text-night;
        }
      }
    }

    .cards {
      .example,
      .tabs {
        background-color: $card-background-color-night;
        p {
          color: $primary-text-night;
        }
      }
      .tabs {
        .content {
          color: $primary-text-night;
        }
        .buttons {
          button {
            background-color: $button-background-color-night;
            color: $button-color-night;
            &.active {
              background-color: $button-background-color-night-active;
              color: $button-color-night-active;
            }
          }
        }
      }
    }

    .tags {
      color: $third-text-night;
    }
  }
}
