$background-color: #e9ecef;
$background-color-night: #212529;

$card-background-color: #dee2e6;
$card-background-color-night: #343a40;

$primary-text: #2d3748;
$primary-text-night: #adb5bd;

$secondary-text: #4a5568;
$secondary-text-night: #98a2b3;

$button-background-color: #dee2e6;
$button-background-color-night: #343a40;
$button-background-color-active: #ced4da;
$button-background-color-night-active: #495057;
$button-color: #5e6b7f;
$button-color-night: #6c757d;
$button-color-active: #4a5568;
$button-color-night-active: #ced4da;

$third-text: #a0aec0;
$third-text-night: #495057;

b,
strong {
  font-weight: 600;
}

ul,
ol {
  margin: 0;
}
ul {
  padding: 0 0 0 10px;
}
ol {
  padding: 0 0 0 12px;
}

.custom-br {
  display: block; /* 让 <br> 变成块级元素 */
  content: ''; /* 伪元素内容 */
}

.container {
  min-width: 390px;
  max-width: 65ch;
  width: 100%;
  height: 100%;
  text-align: left;
  letter-spacing: -0.015em;
}

.main {
  height: 100%;
  background-color: $background-color;

  p {
    margin: 0;
    font-family: Inter, serif;
  }

  .inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 24px;
    max-width: 412px;
    margin: 0 auto;
    padding: 20px;

    .recite {
      align-self: stretch;
      padding-left: 18px;
      .word {
        font-size: 36px;
        font-weight: bold;
        line-height: 1.5;
        color: $primary-text;
      }

      .phonetic {
        padding: 12px 0;
        line-height: 1.5;
        font-size: 16px;
        color: #4a5568;
      }

      .paraphrase {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        row-gap: 4px;
        span {
          display: inline-block;
          height: 18px;
          border-radius: 7px;
          background-color: $card-background-color;
          &:nth-child(1) {
            width: 164px;
          }
          &:nth-child(2) {
            width: 106px;
          }
        }
        p {
          display: none;
        }
      }
    }

    .cards {
      align-self: stretch;
      .example,
      .tabs {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        row-gap: 8px;
        padding: 20px 18px;
        border-radius: 12px;
        background-color: $card-background-color;
        p {
          font-size: 18px;
          line-height: 1.5;
          color: $primary-text;
        }
        p.zh {
          display: none;
        }
      }
      .tabs {
        display: none;
        padding: 20px 13px 0;
        .content {
          align-self: stretch;
          padding: 0 5px;
          min-height: 150px;
          overflow: auto;
          > div {
            display: none;
            font-size: 16px;
            line-height: 1.5;
            text-rendering: optimizeLegibility; /* 优化抗锯齿 */
            hyphens: auto; /* 自动连字符换行（英文场景） */
            word-break: break-word; /* 防止长单词溢出 */
            margin-top: 0; /* 避免段落上方多余间距 */
            &.original-text {
              text-align: justify;
            }
            &.active {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              row-gap: 2px;
            }
          }
        }
        .buttons {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          column-gap: 4px;
          position: sticky;
          bottom: 0;
          margin-top: auto; /* 让按钮在底部 */
          border-radius: 4px;
          background-color: inherit;
          align-self: stretch;
          padding: 8px 0;
          button {
            height: 24px;
            line-height: 24px;
            padding: 0 5px;
            text-align: center;
            border-radius: 4px;
            border: none;
            font-size: 12px;
            font-weight: normal;
          }
        }
      }
    }

    .tags {
      align-self: stretch;
      text-align: right;
      padding-right: 18px;
      line-height: 1.5;
      font-size: 15px;
      color: $third-text;
    }
  }
}

.back .main {
  .inner {
    .recite {
      .paraphrase {
        span {
          display: none;
        }
        p {
          display: block;
          font-size: 18px;
          line-height: 1.5;
          color: #2d3748;
        }
      }
    }

    .cards {
      .example,
      .tabs {
        background-color: $card-background-color;
        p {
          color: $primary-text;
        }
        .zh {
          display: block;
        }
      }
      .tabs {
        display: flex;
        .content {
          color: $primary-text;
        }
        .buttons {
          button {
            background-color: $button-background-color;
            color: $button-color;
            &.active {
              background-color: $button-background-color-active;
              color: $button-color-active;
            }
          }
        }
      }
    }
  }
}

.night_mode .main {
  background-color: $background-color-night;
  .inner {
    .recite {
      .paraphrase {
        span {
          background-color: $card-background-color-night;
        }
        p {
          color: $primary-text-night;
        }
      }

      .word {
        color: $primary-text-night;
        .phonetic {
          color: $secondary-text-night;
        }
      }
    }

    .cards {
      .example,
      .tabs {
        background-color: $card-background-color-night;
        p {
          color: $primary-text-night;
        }
      }
      .tabs {
        .content {
          color: $primary-text-night;
        }
        .buttons {
          button {
            background-color: $button-background-color-night;
            color: $button-color-night;
            &.active {
              background-color: $button-background-color-night-active;
              color: $button-color-night-active;
            }
          }
        }
      }
    }

    .tags {
      color: $third-text-night;
    }
  }
}
