@font-face {
  font-family: inter;
  src: url('../statics/fonts/Inter-VariableFont_opsz,wght.ttf');
}

@import 'normalize.css';

@import 'variables';

* {
  font-family: inter, serif;
}

@import '../components/Button/style';
@import '../components/Anki/style';
